    <h1>Roda Sequel App Template</h1>

    <p>Hanami-like project structure with Roda, also featuring code reloading and autoloading via zeitwerk</p>

    <br>

    <ol>
        <li>To use this template, first clone it to your machine, e.g.,</li>
    </ol>
    <pre><code>git clone git@github.com:xJGBx/rodaSequelTemplate.git</code></pre>

    <br>

    <ol start="2">
        <li>Modify the <code>.env</code> file accordingly</li>
    </ol>

    <br>

    <ol start="3">
        <li>Uncomment <code>.gitignore</code></li>
    </ol>

    <br>

    <ol start="4">
        <li>Modify the model and migration files accordingly</li>
    </ol>

    <br>

    <ol start="5">
        <li>Run <code>rake db:create</code></li>
    </ol>

    <br>

    <ol start="6">
        <li>Run <code>rake db:migrate</code></li>
    </ol>
