  <section>
    <h2>Roda Sequel App Template</h2>
    <p>Hanami-like project structure with Roda, also featuring code reloading and autoloading via zeitwerk. (Includes tailwindcss via CDN by default)</p>
  </section>

  <section>
    <h2>Instructions:</h2>

    <ol>
      <li>
        <p>To use this template, first clone it to your machine:</p>
        <code>git clone git@github.com:xJGBx/rodaSequelTemplate.git</code>
      </li>

      <li>
        <p>Modify the <code>.env</code> file accordingly.</p>
      </li>

      <li>
        <p>Uncomment <code>.gitignore</code>.</p>
      </li>

      <li>
        <p>Modify the model and migration files accordingly.</p>
      </li>

      <li>
        <p>Run <code>rake db:create</code>.</p>
      </li>

      <li>
        <p>Run <code>rake db:migrate</code>.</p>
      </li>

      <li>
        <p>Run <code>rake --tasks</code> to find available commands.</p>
      </li>

      <li>
        <p>Modify <code>router.rb</code> accordingly.</p>
      </li>

      <li>
        <p>Run <code>bundle exec rackup</code> and view in the browser at <a href="http://127.0.0.1:9292" target="_blank">http://127.0.0.1:9292</a> by default.</p>
      </li>
    </ol>
  </section>