    <h1>Roda Sequel App Template</h1>
    <p>Hanami-like project structure with Roda, also featuring code reloading and autoloading via Zeitwerk. (Includes Tailwind CSS via CDN by default)</p>

    <ol>
        <li>Clone this template to your machine:</li>
        <code>git clone git@github.com:xJGBx/rodaSequelTemplate.git</code>

        <li>Modify the <code>.env</code> file accordingly.</li>

        <li>Uncomment <code>.gitignore</code>.</li>

        <li>Run <code>bundle install</code>.</li>

        <li>Modify the model and migration files accordingly.</li>

        <li>Run <code>rake db:create</code>.</li>

        <li>Run <code>rake db:migrate</code>.</li>

        <li>Run <code>rake --tasks</code> to find available commands.</li>

        <li>Modify <code>router.rb</code> accordingly.</li>

        <li>Run <code>bundle exec rackup</code> and view in the browser at <a href="http://127.0.0.1:9292" target="_blank">http://127.0.0.1:9292</a> by default.</li>
    </ol>