  <h2>Roda Sequel App Template</h2>

  <p>
    Hanami-like project structure with Roda, also featuring code reloading and autoloading via Zeitwerk.
    (Includes Tailwind CSS via CDN by default)
  </p>

  <ol>
    <li>
      <p>1. To use this template, first clone it to your machine:</p>
      <code>git clone git@github.com:xJGBx/rodaSequelTemplate.git</code>
    </li>

    <li>
      <p>2. Modify the <code>.env</code> file accordingly</p>
    </li>

    <li>
      <p>3. Uncomment <code>.gitignore</code></p>
    </li>

    <li>
      <p>4. Modify the model and migration files accordingly</p>
    </li>

    <li>
      <p>5. Run <code>rake db:create</code></p>
    </li>

    <li>
      <p>6. Run <code>rake db:migrate</code></p>
    </li>

    <li>
      <p>7. Run <code>rake --tasks</code> to find available commands</p>
    </li>

    <li>
      <p>8. Run <code>bundle exec rackup</code> and view in the browser at <a href="http://127.0.0.1:9292">http://127.0.0.1:9292</a> by default</p>
    </li>
  </ol>
