<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="utf-8">
    <title> Roda Test </title>
  </head>

  <body>
    <%= partial "navbar" %>
    
    <div class="container">
    <%= yield %>
    </div>
  </body>
</html>